/* Reset some default styles */
/* html {
    background-color: #cfd4d1;
} */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
/* Center-align text within header */
header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(104, 74, 2, 0.3);
}

/* Style the <p> tag */
header p {
    margin: 0;
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
    color: #fff;
    padding-left: 10px;
}

/* Style the <nav> links */
header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

/* Profile container styles */
.profile-container {
    padding: 120px 0 120px 0;
}

.profile-container strong {
    font-size: 24px;
}

.profile-container p {
    font-size: 18px;
}

.profile-container img {
    height: 50vh;
    width: 40vh;
    border-radius: 50%;
    outline: 5px solid rgba(104, 74, 2, 0.3);
}

/* About section styles */
.info-container {
    padding: 20px;
    height: 50vh;
}

.info-detail {
    text-align: center;
}

.info-detail img {
    max-width: 100%;
    margin-top: 20px;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    outline: 5px solid rgba(104, 74, 2, 0.3);

}

.Skill {
    padding: 50px 0; /* Add padding for spacing */
}

.Skill h2{
    padding: 50px
}

/* Style the Skill container */
.skill-container {
    max-width: 800px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
}

/* Style the skill list */
.skill-detail ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.skill-detail li {
    font-size: 18px; 
    margin-bottom: 10px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.skill-detail li img {
    width: 90px; /* Set the width of the image (adjust as needed) */
    height: 90px; /* Set the height of the image (adjust as needed) */
    margin-right: 10px; /* Add space between image and text */
    mix-blend-mode: multiply; /* Set the background of the image to transparent */
}

.skill-detail li:hover {
    color: #007bff; /* Change text color on hover */
}

.portfolio{
    height: 700px;
}

.portfolio h1{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.project{
    border: 1px solid #ccc; /* Add a border around each project */
    padding: 20px; /* Add some padding for spacing */
    width: 30%; /* Adjust the width of each project as needed */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.project img {
    max-width: 100%; /* Make sure the images don't exceed the container width */
}

.project-info {
    flex-grow: 1; /* Allow the project info to expand and fill remaining space */
}

.project h2 {
    margin-top: 10px; /* Add some margin above the project title */
}

.project ul {
    list-style: none; /* Remove list bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.project ul li {
    margin-bottom: 8px; /* Add space between list items */
}

.Contact{
    margin-top: 50px;
    background-color: rgba(104, 74, 2, 0.3);
    color: #fff;
}

.contact-container h2{
    padding: 15px 0 20px 0;
    margin: 0;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-around;
    text-align: center;
}

.contact-list li {
    display: inline-block;
}

.contact-list li img{
    width: 20px;
    height: 20px;
}
/* Style the icons */
.contact-list i {
    font-size: 24px; /* Adjust the icon size */
    margin-right: 5px; /* Add space between the icon and text */
}
